node_modules
build
.vscode
*.log
Thumbs.db
.idea
.grunt
.DS_Store
bash.exe.stackdump
.editorconfig
.yo-rc.json
*.css.d.ts
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
