.main {
  width: 100%;
  height: 100%;
  display: flex;
  --padding: 16px;
}

.time-tracker {
  width: 300px;
  height: 400px;
  border: 1px solid var(--color-000);
  border-radius: 4px;
  padding: var(--padding);
  margin: auto;
  background: var(--color-ddd);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  appearance: none;
  border: 1px solid var(--color-000);
  background: var(--color-fff);
  transition: box-shadow .3s;
  padding: 0;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-d33);
  }
}

.button-add {
  width: calc(60% - var(--padding) / 2);
}

.button-toggle {
  width: calc(40% - var(--padding) / 2);
}

.current-time {
  height: 24px;
  margin-top: var(--padding);
  padding-left: var(--padding);
}

.tracks {
  list-style-type: none;
  margin: var(--padding) 0 0;
  padding: 0;
}

.track {
  display: block;
  appearance: none;
  border: 0;
  padding: 0 0 0 var(--padding);
  background: transparent;
  cursor: pointer;
  position: relative;
  line-height: 1.5;

  &:focus {
    outline: 0;
  }

  &_active::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    border-width: 4px 4px 0 0;
    border-style: solid;
    border-color: var(--color-d33);
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    transform-origin: 0 0;
  }
}