.main {
  --padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  width: 300px;
  height: 100%;
  margin: auto;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 11px;
  background: var(--color-ddd);
  border: 1px solid var(--color-000);
  border-radius: 4px;
}

.logo {
  width: 32px;
  height: 32px;
}

.title {
  padding-top: 2px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.time-tracker {
  width: 100%;
  height: 400px;
  padding: var(--padding);
  background: var(--color-ddd);
  border: 1px solid var(--color-000);
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  background: var(--color-fff);
  border: 1px solid var(--color-000);
  transition: box-shadow .3s;
  appearance: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-d33);
  }
}

.button-add {
  width: calc(60% - var(--padding) / 2);
}

.button-toggle {
  width: calc(40% - var(--padding) / 2);
}

.current-time {
  height: 24px;
  padding-left: var(--padding);
  margin-top: var(--padding);
}

.tracks {
  padding: 0;
  margin: var(--padding) 0 0;
  list-style-type: none;
}

.track {
  position: relative;
  display: block;
  padding: 0 0 0 var(--padding);
  line-height: 1.5;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;

  &:active {
    color: inherit;
  }

  &:focus {
    outline: 0;
  }

  &_active::before {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 10px;
    height: 10px;
    content: '';
    border-color: var(--color-d33);
    border-style: solid;
    border-width: 4px 4px 0 0;
    transform: rotate(45deg);
    transform-origin: 0 0;
  }
}